extends template
block cont
    p
    | Hello! Dear #{userName}
    br
    | Follow the link below to activate your account
    br
    | This link is active for 24 hours, after which you will need to re-register
    br
    a(href=symb) ACTIVATE MY ACCOUNT NOW
              hr
    h2 Carefully! Do not pass this link to anyone!
