doctype html
html
    head
        style
            include st.css
    body
        div
            block cont

        div.footer
            p
             | With respectfully
            h2
            | PYAK TEAM
